body {
    background-color: rgb(180, 72, 180);
}

h1 {
    color:blueviolet;
    transition:color .5s ease-in-out
}

.active {
    color: lightblue;
}

.sexy-font {
    font-family: 'Courier New', Courier, monospace;
}